{% extends 'base.html' %}

{% block title %}Strona główna{% endblock %}
{% block content %}
{% if session['user_type'] == 'Student' %}
<p>Profil studenta</p>
{% elif session['user_type'] == 'Pracownik' %}
<div class="container" style="width: 60%;">
    <div class="card rounded-3">
        <div class="card-header text-center">
            <h2>{{ user }}</h2>
        </div>
        <div class="card-body text-center">
            <div class="row align-items-center justify-content-center">
                <a href="/my-courses"><button class="btn btn-primary">Moje kursy</button></a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class='card'>
        <div class="card-header text-center">
            <h2>Witaj w systemie obsługi studentów</h2>
        </div>
        <div class="card-body text-center">
            <h3>Jeśli jesteś studentem bez konta, możesz go założyć klikając poniżej. Dydaktyków zapraszamy do zalogowania się.</h3>
            <a class="btn btn-dark my-2" href='/sign-up'>Zajerestruj się</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}