<!DOCTYPE html>
<html>
<style>
    body {
    padding-bottom: 250px;
}
    .essa {
    width: 150px; /* You can set the dimensions to whatever you want */
    height: 100px;
    object-fit: cover;}
    {# chowanie sie stopki #}
    @media screen and (max-width: 1000px) {
    footer {
        visibility: hidden;
        display: none;
    }

}
    </style>
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
      <title>{%  block title %}Home{%  endblock %}</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar">
              <div class="navbar-nav">
                  {% if user.is_authenticated %}
                  <a class="nav-item nav-link" id='home' href="/">Home</a>
                  <a class="nav-item nav-link" id='logout' href="/logout">Logout</a>
                  <a class="nav-item nav-link" id="new_course" href="/new_course">Add new course</a>
                  <a class="nav-item nav-link" id="grades" href="/grades">Grades</a>
                  <a class="nav-item nav-link" id="faculties" href="/faculties">Faculties</a>
                  <a class="nav-item nav-link" id="timetable" href="/timetable">Timetable</a>
                  <a class="nav-item nav-link" id="buildings" href="/buildings">Buildings</a>
                  {% else %}
                  <a class="nav-item nav-link" id='login' href="/login">Login</a>
                  <a class="nav-item nav-link" id='signUp' href="/sign-up">Sign Up</a>
                  {% endif %}
              <a class="nav-item nav-link ms-auto" id="agh" href="https://www.agh.edu.pl/">Main AGH Page</a>
              <a class="nav-item nav-link ms-auto" id="agh" href="https://sylabusy.agh.edu.pl/pl/1/1/17/1/4">Syllabus AGH</a>
              <a class="nav-item nav-link" id="map" href="/map">Map</a>
              </div>
          </div>
      </nav>

      {% with messages = get_flashed_messages(with_categories=true)%}
      {% if messages %}
          {% for category, message in messages %}
              {% if category == 'error' %}
              <div class="alert alert-danger alter-dismissable fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
              {% else %}
              <div class="alert alert-success alter-dismissable fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
              {% endif %}
          {% endfor %}
      {% endif %}
      {% endwith %}

      <div class="container">
          {% block content %}
          {% endblock %}
      </div>
      <script
          src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"
        ></script>

        <script
          type="text/javascript"
          src="{{ url_for('static', filename='index.js') }}"
        ></script>
{#  stopka na dole strony#}
      <div class="hidden-xs">
<footer class="text-center text-white fixed-bottom" style="background-color: #caced1;">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Images -->
    <section class="">
      <div class="row">
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="/static/agh1.jpg"
              class="w-100 rounded essa"
            />
            <a href="https://www.agh.edu.pl/">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="/static/agh2.jpg"
              class="w-100 rounded essa"
            />
            <a href="https://www.agh.edu.pl/">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="/static/agh3.jpg"
              class="w-100 rounded essa"
            />
            <a href="https://www.agh.edu.pl/">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="/static/agh4.jpg"
              class="w-100 rounded essa"
            />
            <a href="https://www.agh.edu.pl/">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="/static/agh5.jpg"
              class="w-100 rounded essa"
            />
            <a href="https://www.agh.edu.pl/">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light "
          >
            <img
              src="/static/agh6.jpg"
              class="w-100 rounded essa"

            />
            <a href="https://www.agh.edu.pl/">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.2);"
              ></div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Images -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="https://gitlab.kis.agh.edu.pl/bd-ti-2021-2022/g21">Rokoko & Big Poppa</a>
  </div>
  <!-- Copyright -->
</footer>
</div>
  </body>
</html>