{% extends "base.html" %} {% block title %}Faculties{% endblock %} {% block content
%}
    <hr/>
<h1 align="center">Faculties</h1>
<hr/>
        <table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col" class="text-center">Name Short</th>
      <th scope="col" class="text-center">Full Name</th>
      <th scope="col" class="text-center">Description</th>
      <th scope="col" class="text-center">Buildings</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">WIEiT</th>
      <td>Wydział Informatyki, Elektroniki i Telekomunikacji</td>
      <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

</td>
      <td>B9</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fdsadsadat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@dasdasd</td>
    </tr>
  </tbody>
</table>
{% endblock %}