{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
{#  OGÓLNIE TE NOTATKI MOGA ZOSTAC ALE JAKO JAKAS KOLEJNA PODSTRONA A NIE GLOWNY HOME  #}
{#  NA GŁOWNYM HOMIE DALBYM ZEBY MOZNA BYLO WYBRAC OCENKI CZY ZOBACZYC INNE RZECZY  #}
<h1 align="center">Student Page</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{#  tylko pomysl do wrzucenia tego jako zeby bylo jako maly kwadracik w homie  #}
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/mcv0coLyh_k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}